:root {
  --first-color: #f2ffdf;
  --second-color: #b1f1b2;
  --third-color: #1e757b;
  --fourth-color: #424d69;
  --heading-font-family: "Sacramento", cursive;
  --default-font-family: "Laila", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--fourth-color);
}
.hero {
  background-color: #f2ffdf;
  text-align: center;
  font-family: var(--default-font-family);
  color: var(--fourth-color);
  font-weight: normal;
  padding: 160px 20px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav a {
  text-decoration: none;
  color: var(--third-color);
}
nav a:hover {
  color: var(--second-color);
  transition: all 200ms ease-in-out;
  font-weight: bold;
}
nav li.active a {
  color: var(--fourth-color);
  font-weight: bold;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--fourth-color);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--third-color);
}

.content-container h1 {
  font-size: 44px;
  line-height: 1.5;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.btn-branding {
  background-color: var(--second-color);
  border-radius: 4px;
  color: var(--fourth-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  color: var(--third-color);
  border: 1px solid var(--third-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  h1 {
    font-size: 42px;
    line-height: 2;
  }
  h2 {
    font-size: 42px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 12px;
  }
}
.hero img {
  margin: 120px 20px;
  padding: 50px;
}
footer .email-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: var(--third-color);
}
footer .email-link:hover {
  color: var(--fourth-color);
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--third-color);
  background-color: var(--first-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--fourth-color);
  background-color: var(--second-color);
}
footer .contact-box {
  background-color: var(--first-color);
  padding: 30px 120px;
  border-radius: 10px;
}
h4 {
  font-size: 30px;
}
footer .contact-box p {
  margin: 0;
}
